<aside class="sidebar">

  <div class="brand">
    <div class="brand-icon">F</div>

    <div>
      <div class="brand-name">FMC Digital</div>
      <div class="brand-subtitle">Gestion commerciale</div>
    </div>
  </div>

  <div class="navigation-title">
    NAVIGATION
  </div>

  <nav>

    <a
      routerLink="/clients"
      routerLinkActive="active"
      class="nav-item">

      <span class="nav-icon">👥</span>

      <span>Clients</span>
    </a>

    <a
      routerLink="/products"
      routerLinkActive="active"
      class="nav-item">

      <span class="nav-icon">📦</span>

      <span>Produits</span>
    </a>

    <a
      routerLink="/orders"
      routerLinkActive="active"
      class="nav-item">

      <span class="nav-icon">📄</span>

      <span>Commandes</span>
    </a>

  </nav>

 

</aside>